<%- include("partials/header.ejs")%>

<div class="container text-center mt-4" id="new_blog_form">
  <h3 class="mb-4">No blogs available. Start by adding a new blog!</h3>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form
        action="/submit"
        method="POST"
        class="p-4 border rounded shadow-sm bg-light"
      >
        <div class="mb-3">
          <label class="form-label fw-bold">New Article</label>
          <input
            type="text"
            name="title"
            class="form-control"
            required
            placeholder="Enter Title"
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Description</label>
          <textarea
            name="description"
            class="form-control"
            rows="4"
            placeholder="Write your blog description..."
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs")%>
