<%- include("partials/header.ejs")%>
<div id="container">
  <h1>Blog Site</h1>

  <form action="/submit" method="POST">
    <label>New Article</label><br />
    <input type="submit" value="New Article" />
  </form>
</div>
<%- include("partials/footer.ejs")%>
