<%- include("partials/header.ejs")%>

<div id="container">
  <div class="blog-header">
    <img src="/blog pic.avif" alt="Blog Image" />
    <h1>Blog Site</h1>
  </div>
</div>

<form action="/newBlog">
  <input type="submit" value="New Blog" class="btn" />
</form>

<%- include("partials/footer.ejs")%>
