<%- include("partials/header.ejs")%>

<!-- Full-width image -->
<div class="container mb-1 border-bottom">
  <img
    id="main-img"
    src="/blog pic.png"
    alt="Blog Image"
    class="img-fluid w-100"
    style="height: 70vh; object-fit: cover"
  />
</div>

<!-- Centered heading -->
<div class="container text-center mt-3">
  <h1>Blog Site</h1>
</div>

<!-- Centered button -->
<div class="container text-center mt-4">
  <form action="/blog_form">
    <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">New Blog</button>
      </div>
    </div>
  </form>
</div>

<%- include("partials/footer.ejs")%>
