* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100vh;
  width: 100%;
}

#back {
  height: 100vh;
  width: 100%;
  background-color: red;
}

#top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#workingArea {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

#navBar {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nlogo {
  height: 60px;
}
#nLeft,
#nRight {
  display: flex;
  align-items: center;
  gap: 60px;
}

#navBar a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

#hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 1vh;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

#heroLeft {
  min-width: 50%;
}

#heroRight {
  width: 25%;
  background-color: green;
  color: white;
  text-align: right;
}

#heroLeft .element {
  height: 10vw;
  overflow: hidden;
}

#heroLeft .element h1 {
  line-height: 0.9;
  font-family: "kajiro";
  font-weight: 100;
  color: white;
  font-size: 11vw;
}

#heroLeft button {
  font-size: 3vw;
  font-family: "kajiro";
  padding: 0.8vw 3vw;
  margin-top: 1vw;
}
